/* [project]/src/components/ui/shiny-button.css [app-client] (css) */
@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --gradient-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --gradient-shine {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}

.shiny-cta {
  --shiny-cta-bg: #000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #fff;
  --shiny-cta-highlight: #10b981;
  --shiny-cta-highlight-subtle: #34d399;
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  --transition: .8s cubic-bezier(.25, 1, .5, 1);
  isolation: isolate;
  cursor: pointer;
  outline-offset: 4px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg)) padding-box, conic-gradient(from calc(var(--gradient-angle)  - var(--gradient-angle-offset)), transparent, var(--shiny-cta-highlight) var(--gradient-percent), var(--gradient-shine) calc(var(--gradient-percent) * 2), var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3), transparent calc(var(--gradient-percent) * 4)) border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);
  transition: var(--transition);
  border: 1px solid #0000;
  border-radius: 360px;
  padding: .75rem 1.5rem;
  font-family: Inter, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.2;
  transition-property: --gradient-angle-offset, --gradient-percent, --gradient-shine;
  position: relative;
  overflow: hidden;
}

.shiny-cta:before, .shiny-cta:after, .shiny-cta span:before {
  content: "";
  pointer-events: none;
  z-index: -1;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
}

.shiny-cta:active {
  translate: 0 1px;
}

.shiny-cta:before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at var(--position) var(--position), white calc(var(--position) / 4), transparent 0) padding-box;
  background-size: var(--space) var(--space);
  -webkit-mask-image: conic-gradient(from calc(var(--gradient-angle)  + 45deg), black, transparent 10% 90%, black);
  mask-image: conic-gradient(from calc(var(--gradient-angle)  + 45deg), black, transparent 10% 90%, black);
  border-radius: inherit;
  opacity: .4;
  z-index: -1;
  background-repeat: space;
}

.shiny-cta:after {
  --animation: shimmer linear infinite;
  aspect-ratio: 1;
  background: linear-gradient(-50deg, transparent, var(--shiny-cta-highlight), transparent);
  opacity: .6;
  width: 100%;
  -webkit-mask-image: radial-gradient(circle at bottom, #0000 40%, #000);
  mask-image: radial-gradient(circle at bottom, #0000 40%, #000);
}

.shiny-cta span {
  z-index: 1;
}

.shiny-cta span:before {
  --size: calc(100% + 1rem);
  width: var(--size);
  height: var(--size);
  box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
  opacity: 0;
  transition: opacity var(--transition);
  animation: calc(var(--duration) * 1.5) breathe linear infinite;
}

.shiny-cta, .shiny-cta:before, .shiny-cta:after {
  animation: var(--animation) var(--duration), var(--animation) calc(var(--duration) / .4) reverse paused;
  animation-composition: add;
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);
}

.shiny-cta:is(:hover, :focus-visible), .shiny-cta:is(:hover, :focus-visible):before, .shiny-cta:is(:hover, :focus-visible):after {
  animation-play-state: running;
}

.shiny-cta:is(:hover, :focus-visible) span:before {
  opacity: 1;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from, to {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }
}

/*# sourceMappingURL=src_components_ui_shiny-button_ca76585b.css.map*/